* {
    margin: 0;
    font-family: Montserrat;
}



.navbar {
    width: 100%;
    background-color: white;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #169E00;
    ;
}

.navbar ul li a{
    text-decoration: none;
    color: inherit;
  }
.navbar img {
    height: 45px;
    margin-left: 30px;
}

.navbar ul {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 39.01px;
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav-item2 {
    margin-right: 30px;
}

.navbar #nav-buton {
    background-color: #169E00;
    color: white;
    border-radius: 12px;
    padding: 4px;
    justify-content: center;
    display: flex;
    /* width: 120px; */
}

/* ////////////////////////////////////////////////////////////// section1 */

.section1 {
    background-color: #169E00;
    display: flex;
    justify-content: center;


}

.section1 h1 {
    margin-top: 100px;
    color: white;
    font-family: Montserrat;
    font-size: 65px;
    font-weight: 700;
    line-height: 117.02px;
    margin-bottom: 100px;

}

/* //////////////////////////////////////////////////////// */
.section2 {
    width: 100%;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;

}

.section2 h1 {
    font-family: Montserrat;
    font-size: 65px;
    font-weight: 700;
    line-height: 117.02px;
    color: #169E00;
    margin-top: 46px;
    margin-bottom: 60px;


}

.section2 .card-container-section2 {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section2 .card-container-section2 .card-section2 {
    width: 394px;
    height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section2 .card-container-section2 .card-section2 img {
    width: 360px;
    height: 340px;
}

.section2 .card-container-section2 .card-section2 h1 {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 48.76px;
    margin: 0px;

}

.section2 .card-container-section2 .card-section2 p {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 29.26px;
    color: #A3A3A3;


}

/* ///////////////////////////////////////////////////////// */

footer {
    width: 100%;
    height: auto;
    background-color: #002A96;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

footer .item3 {

    display: flex;
    flex-direction: column;
    width: 215px;
    gap: 10px;
    margin-top: 26px;


}

footer .item3 button {

    width: 78px;
    border-radius: 10px;
    background-color: green;
    border-style: none;
    margin-bottom: 24px;
    font-size: 15px;
    height: 26px;
}

footer .item3 .item3-button {
    display: flex;
    justify-content: center;
}

footer .item4 {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

footer .item4 a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width:750px) {
    .navbar img {
        height: 30px;
    }

    .navbar ul {
        font-size: 14px;
    }

    footer {
        flex-direction: column;
        font-size: 13px;
    }

    .section1 h1 {
        font-size: 30px;
    }

    .section2 h1 {
        font-size: 30px;
    }

    .section2 .card-container-section2 .card-section2 img {
        width: 250px;
        height: 250px;
    }

    .section2 .card-container-section2 .card-section2 h1 {

        font-size: 19px;

    }

    .section2 .card-container-section2 .card-section2 p {

        font-size: 12px;

    }

    .section2 .card-container-section2 {
        width: auto;

    }
    .section2 .card-container-section2 .card-section2 {
         width: auto; 
        height: auto; 
       
    }

    
}

@media screen and (max-width:600px) {
    .navbar {
        width: 100%;
        background-color: white;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #169E00;
        ;
        flex-direction: column;
    }
    .navbar > img:nth-child(1) {
        margin-top: 20px;
      }
      .nav-item2 {
        margin-bottom: 11px;
        margin-top: 10px;
      }

     
            
}